# =========================================================
# PYTHON
# =========================================================

__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# =========================================================
# VIRTUAL ENVIRONMENTS
# =========================================================

venv/
.venv/
env/
ENV/

# =========================================================
# DATABASES
# =========================================================

*.db
*.sqlite
*.sqlite3

# =========================================================
# ENV VARIABLES
# =========================================================

.env
.env.*

# =========================================================
# IDE / EDITORS
# =========================================================

.vscode/
.idea/

# =========================================================
# SYSTEM FILES
# =========================================================

.DS_Store
Thumbs.db

# =========================================================
# LOGS
# =========================================================

*.log

# =========================================================
# BUILD / DIST
# =========================================================

build/
dist/

# =========================================================
# FLET
# =========================================================

.flet/